{% extends 'base.html.twig' %}
{# override base layout so storehouse header doesn't display #}
{% block storehouseHead %}{% endblock %}
{# override base layout so Storehouse nav doesn't display #}
{% block storehouseNav %}
{% endblock %}
{% block section %}
<div class="formStyle">
	Appointment successfully saved.
<ul>
	<li><a href="{{ path('appointments', {'date': origDate}) }}">Return to {{ origDate|date('m/d/Y') }} appointments</a></li>
	<li><a href="{{ path('appointments', {'date': newDate}) }}">Go to {{ newDate|date('m/d/Y') }} appointments</a></li>
<ul>
</div>
{% endblock %}