<td>
	<select id="client_focusGroups___name___groupName" name="client[focusGroups][__name__][groupName]">
			<option></option>
		{% for focusGroupName in focusGroupNames %}
			<input type="hidden" name="test" value="{{ focusGroupName.id }}" />
			<option value="{{ focusGroupName.groupName }}">{{ focusGroupName.groupName }}</option>
		{% endfor %}
	</select>
</td>