<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Chirp Database landing page{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('css/db_styles.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<section style="max-width: 600px;">
			<div class="formStyle">
				<h2>Go to:</h2>
				<ul>
					<li><a href="{{ path('form') }}">Brightmoor Connect Database</a></li>
					<li><a href="{{ path('storehouseForm') }}">Storehouse of Hope Database</a></li>
				</ul>
			</div>
		</section>
    </body>
</html>
