{% extends 'base.html.twig' %}
{% block title %}Brightmoor Connection Appointments{% endblock %}
{# override base layout so storehouse header doesn't display #}
{% block storehouseHead %}{% endblock %}
{# override base layout so Storehouse nav doesn't display #}
{% block storehouseNav %}
{% endblock %}
{% block section %}
	<h1>Reports</h1>
{% endblock %}
