{% extends 'base.html.twig' %}
	{# override base layout so Brightmoor header doesn't display #}
	{% block head %}
	{% endblock %}
{# override base layout so Brightmoor nav doesn't display #}
{% block nav %}
{% endblock %}
{% block section %}
<div class="formStyle">
	Appointment successfully saved.
<ul>
	<li><a href="{{ path('storehouseAppointments', {'date': origDate}) }}">Return to {{ origDate|date('m/d/Y') }} appointments</a></li>
	<li><a href="{{ path('storehouseAppointments', {'date': newDate}) }}">Go to {{ newDate|date('m/d/Y') }} appointments</a></li>
<ul>
</div>
{% endblock %}