* {
    box-sizing: border-box;
} 

body {
	font-family: sans-serif;
	max-width: 1400px;
	padding: 1em;
	margin: auto;
}

section {
    padding: 1em 0;
}

section#loginPage {
	max-width: 600px;
	margin: auto;
}

h1.header {
	display: inline-block;
}

table {
    border-collapse: collapse;
    border: 0px solid black;
}

table.familyMembers tr, table.referrals tr, table.appointments tr {
	border: 1px solid black;
}

table.familyMembers tr.last, table.referrals tr.last, table.appointments tr.last {
	border: 1px solid #f2f2f2;
}

/*for responsive tables*/
div.overflowX {
	overflow-x:auto;
	/*Give us inertia style scrolling on WebKit based touch devices*/
	-webkit-overflow-scrolling: touch;
}

div.formStyle {
	margin: 1em 0;
	padding: 0.25em 1em 1.25em;
	border-radius: .5em;
	background-color: #f2f2f2;
	border: 2px solid dimgray;
}

div.flexCentered {
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
	padding: 0 1em;
}

div.flexCentered a:nth-child(2n+2) {
	margin: 1em 0 0;
}

div#loggedInAs {
	margin: 1em 0;
}

div#pageHeader {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 1em;
}

a#dbNav {
    margin-right: auto;
}

img#brightmoorLandingLogo {
	width: 300px;
	max-width: 99%;
}

img#buildingMovementLandingLogo {
	width: 200px;
}

img#storehouseLandingLogo {
	width: 75px;
}

img#storehouseHeader {
	height: 150px;
	max-width: 100%;
	vertical-align: middle;
	margin: 0 .5em;
}

img#brightmoorHeader {
	width:500px;
	max-width: 100%;
	vertical-align: middle;
	margin: 0 .5em;
}

textarea {
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 1em;
}

input[type=text], input[type=email], input[type=password], input[type=number], input[type=date] {
	font-size: 1em;
	padding: 4px;
    margin: .5em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*width: 100%;*/
}

input[type=text]#client_genericClient_cellPhoneNumber, input[type=text]#client_genericClient_homePhoneNumber {
	width: 9em;
}

input[type=text]#username, #password {
	display: block;
	width: 100%;
}

input[type=number] {
	width:50px;
}

input[type=number]#client_genericClient_zipCode, input[type=number]#storehouse_client_genericClient_zipCode {
	width:5em;
}

select {
	font-size: 1em;
	margin: 0 .5em;
}

button[type=submit], input[type=submit]{
	font-size: 1em;
	padding: .1em 0;
	margin: .25em;
}

input[type=submit]#reportSubmit {
	display: block;
}

input[type=submit]#_submit {
	margin: 0 0 1em;
}

#form_date {
	width: 6.25em;
	margin: 0 .5em;
}

td.whiteSpaceNoWrap {
	white-space: nowrap;
}

a.noLinkStyle:link {
    text-decoration: none;
    color: black;
}

/* visited link */
a.noLinkStyle:visited {
    text-decoration: none;
    color: black;
}

/* mouse over link */
a.noLinkStyle:hover {
    text-decoration: none;
}

/* selected link */
a.noLinkStyle:active {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {

div.fieldWrapper {
	display: inline-block;
	/*width: 30%;*/
	padding: .5em .25em;
/*border: 1px solid #ccc;*/
}

}

/*end media query*/

/*nav styles*/
ul.nav {
    list-style-type: none;
    margin: .5em 0 0 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    border-radius: .5em;
	background-color: dimgray;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	border: 2px solid black;
}

li.nav {
    float: left;
}

li.nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111;
}
