* {
    box-sizing: border-box;
} 

body {
	font-family: sans-serif;
	max-width: 1400px;
	padding: 1em;
	margin: auto;
}

section {
    padding: 1em 0;
}

section#loginPage {
	max-width: 600px;
	margin: auto;
}

h1.header {
	display: inline-block;
}

table {
    border-collapse: collapse;
    border: 0px solid black;
}

table.collectionHolder tr {
	border: 1px solid black;
}

table.collectionHolder tr.last {
	border: 1px solid #f2f2f2;
}

table#report {
	/*border-collapse: separate;
	border: 2px ridge;*/
	border: none;
	margin-bottom: 0.5em;
}

table#report td {
	padding: 0.25em 0.5em;
	border: none;
}

table#report tr.bottomRow {
	border-bottom: 1px dashed darkgray;
}

tr.referralNamesResults:last-of-type {
	border-bottom: 1px dashed darkgray;
}

th {
	padding: .25em;
}

table#focusGroupsTable tr.last {
	display: none;
}

table#focusGroupsTable {
	margin-bottom: .5em;
}

tr.padded td {
	padding: .25em;
}

table.walkInList td, table.walkInList th {
	padding: .25em 1em;
}

tr#poundageTotal td {
	padding-top: .25em;
	border: none;
}

tr#poundageTotal td:first-child {
	text-align: right;
	padding-right: .5em;
}

tr#poundageTotal td:nth-child(2) {
	padding-left: .5em;
}

td.centered input {
	margin: auto .5em;
}

td.textCentered {
	text-align: center;
	padding: 0 .5em;
}

table#donorVolunteerReport td {
	padding: .5em .5em .5em .75em;
}

table#volunteerReport td {
	padding: .5em .5em .5em .75em;
}

table#volunteerReport td ul {
	margin: 0;
	padding-left: .4em;
}

/*for responsive tables*/
div.overflowX {
	overflow-x:auto;
	/*Give us inertia style scrolling on WebKit based touch devices*/
	-webkit-overflow-scrolling: touch;
}

div.formStyle {
	margin: 1em 0;
	padding: 0.25em 1em 1.25em;
	border-radius: .5em;
	background-color: #f2f2f2;
	border: 2px solid dimgray;
}

div.flexCentered {
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
	padding: 0 1em;
}

div.flexCentered a:nth-child(2n+2) {
	margin: 1em 0 0;
}

div#loggedInAs {
	margin: 1em 0;
}

div#pageHeader {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 1em;
}

div.errors {
	background-color: rgb(255, 240, 240);
	border: 2px solid rgb(212, 2, 21);
	color: rgb(212, 2, 21);
	margin: 1em 0;
	padding: 1em;
}

div#saved_successfully {
	background-color: rgb(240, 255, 240);
	border: 2px solid DarkGreen;
/* 	color: DarkGreen; */
	margin: 1em 0;
/* 	margin-bottom: 1em; */
	padding: .5em .5em .5em 1em;
}

div#unsaved_changes_top {
	display: none;
	background-color: rgb(253, 248, 237);
	border: 2px solid rgb(224, 150, 0);
/* 	color: DarkGreen; */
	margin: 1em 0;
	padding: .5em .5em .5em 1em;
}

div#unsaved_changes_bottom {
	display: none;
/* 
	background-color: rgb(253, 248, 237);
	border: 2px solid rgb(224, 150, 0);
	margin: 1em 0;
	padding: .5em .5em .5em 1em;
 */
}

p#unsaved_changes_bottom_saving {
	display: none;
}

p#unsaved_changes_top_saving {
	display: none;
}

ul.errorValue {
	margin-top: .5em;
}

/*div#reportContainer {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}*/

/*div#reportContainer > :first-child { 
	margin-right: 3em;
}*/

a#dbNav {
    margin-right: auto;
}

img#brightmoorLandingLogo {
	width: 300px;
	max-width: 99%;
}

img#buildingMovementLandingLogo {
	width: 200px;
}

img#storehouseLandingLogo {
	width: 75px;
}

img#storehouseHeader {
	height: 150px;
	max-width: 100%;
	vertical-align: middle;
	margin: 0 .5em;
}

img.brightmoorHeader {
	width:500px;
	max-width: 100%;
	vertical-align: middle;
	margin: 0 .5em;
}

textarea {
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 1em;
}

input[type=text], input[type=email], input[type=password], input[type=number], input[type=date] {
	font-size: 1em;
	padding: 4px;
    margin: .5em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*width: 100%;*/
}

div.phoneNumber input[type=text] {
	width: 9em;
}

input[type=text]#username, #password {
	display: block;
	width: 100%;
}

input[type=number] {
	width:50px;
}

div.zipCode input[type=number] {
	width:5em;
}

select {
	font-size: 1em;
	margin: 0 .5em;
}

select#newFocusGroup {
	margin: auto;
}

button[type=submit], input[type=submit]{
	font-size: 1em;
	padding: .1em 0;
	margin: .25em;
}

button[type=submit]#client_save, button[type=submit]#volunteer_save, button[type=submit]#donor_save, button[type=submit]#walk_in_save {
	margin-top: 1em;
}

input[type=submit]#reportSubmit {
	display: block;
}

input[type=submit]#_submit {
	margin: 0 0 1em;
}

label#volunteerTypeHeader {
	display: block;
	margin-bottom: 1em;
}

#form_date, #walk_in_date, .hasDatepicker, .dateTextLength, td.date input, td.currency input {
	width: 6.25em;
	margin: 0 .5em;
}

td.currency input {
	margin-left: 0;
}

td.decimal input {
	width: 4em;
	margin: 0 .5em;
}

td.whiteSpaceNoWrap {
	white-space: nowrap;
}

a:link {
    text-decoration: none;
    color: blue;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: blue;
}

/* mouse over link */
a:hover {
    text-decoration: underline;
}

/* selected link */
a:active {
    text-decoration: underline;
	color: red;
}

a.noLinkStyle:link {
    text-decoration: none;
    color: black;
}

/* visited link */
a.noLinkStyle:visited {
    text-decoration: none;
    color: black;
}

/* mouse over link */
a.noLinkStyle:hover {
    text-decoration: none;
    color: black;
}

/* selected link */
a.noLinkStyle:active {
    text-decoration: none;
	color: black;
}

a#newWalkIn {
/* 	margin: 1em 0; */
	display: block;
/* 
	width: 9.5em;
	padding: .5em;
 */
	margin-left: .5em;
	margin-top: 1em;
/*
	border-radius: .5em;
	background-color: #f2f2f2;
	border: 2px solid dimgray;	
 */
}

/* 
a#newWalkIn:hover {
	background-color: #e6e6e6;
	color: white;
	border-color: #111;
}

a#newWalkIn:active {
    background-color: #d9d9d9;
}
 */

@media only screen and (min-width: 768px) {

	div.fieldWrapper {
		display: inline-block;
		/*width: 30%;*/
		padding: .5em .25em;
	/*border: 1px solid #ccc;*/
	}

	#loginScreen {
		padding-left: 4em;
	}

	#username, #password {
		max-width: 18em;
	}
	
	div#reportContainer > :first-child { 
		margin-right: 3em;
	}
	
	a#newWalkIn {
		display: inline;
		width: auto;
		margin-top: auto;
	}

}

/*end media query*/

/*nav styles*/
ul.nav {
    list-style-type: none;
    margin: .5em 0 0 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    border-radius: .5em;
	background-color: dimgray;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	border: 2px solid black;
}

li.nav {
    float: left;
}

li.nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111;
}

li.rightButton {
	float: right;
/* 	background-color: #333333 */
}

/* dropdown */

div.dropdown {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: .5em;
}

div.dropdown a {
	background-color: dimgray;
	display: block;
	color: white;
}

div.dropdown a:first-child {
	border-radius: .5em .5em 0 0;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

div.dropdown a:last-child {
	border-radius: 0 0 .5em .5em;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

li.parent:hover div.dropdown{
	display: block;
	color: white;
}

