{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Brightmoor Database - Reset Password{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
{#{ 'Check your email for a link to reset your password.'|trans({'%email%': email}) }#}
{{ 'Check your email for a link to reset your password.'|trans({'%tokenLifetime%': tokenLifetime}) }}
</p>
{% endblock %}
